name: CI/CD Angular + Django

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Build backend
        run: docker compose build backend

      - name: Build frontend
        run: docker compose build frontend

      - name: Subir containers
        run: docker compose up -d

      - name: Aguardar backend subir
        run: |
          for i in {1..10}; do
            if curl -f http://localhost:8000; then
              echo "Backend está no ar"
              exit 0
            fi
            echo "Aguardando backend..."
            sleep 3
          done
          echo "Backend não subiu a tempo"
          exit 1

      - name: Status dos containers
        run: docker compose ps

      - name: Logs do backend
        run: docker compose logs backend

      - name: Derrubar containers
        run: docker compose down